* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f8f8f8;
  font-size: 13px;
}

p {
   line-height: 25px;
   text-align: left;
   font-size: 16px;
   font-weight: 300;
   letter-spacing: 1px;
 }

/* /////////////// HEADER ///////////////// */

/* topbar with social media icons */

.topbar-container {
  height: 50px;
  font-weight: 100;
  font-size: 11px;
  letter-spacing: 1px;
  background-color: #000000;
  color: #EEEEEE;
  text-transform: uppercase;
}

.topbar {
  height: inherit;
  width: 1200px;
  margin: 0 auto;
}

.topbar-menu,
.topbar-logo {
  height: inherit;
  display: inline-block;
}

.topbar-logo img {
  width: 18px;
  height: 18px;
  margin: 15px 3px 0 0;
}

.topbar-logo > span {
  display: inline-block;
  overflow: auto;
  vertical-align: top;
  margin: 4px 0;
  padding: 13px 3px;
  color: #fff;
}

ul.topbar-menu {
  width: auto;
  float: right;
  color: #EEEEEE;
  list-style-type: none;
}

.topbar-menu li,
.bottom-links li {
  height: inherit;
  display: inline-block;
  padding: 13px 5px;
}

.topbar-menu img,
.bottom-links img {
  width: 23px;
  height: 23px;
}

.topbar-menu a,
.bottom-links a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.topbar-menu span {
  padding: 1px 0 0 5px;
  display: inline-block;
  color: #fff;
}

/* main logo part */
.logo {
  background-color: #fff;
  height: 170px;
  border-bottom: 1px solid #E0E0E0;
  text-align: center;
}

.logo a > img {
  height: 100px;
  width: 190px;
  /*margin: 35px 120px 35px 0;*/
  margin: 35px auto;
}

/* main menu */
.menu {
  height: 80px;
  background-color: #fff;
}

.menu ul {
  list-style-type: none;
  color: black;
  width: 800px;
  margin: 0 auto;
  height: 100%;
  /*padding: 15px 50px;*/
}

.menu ul li {
  float: left;
  padding: 35px 25px;
}

.menu ul li:last-child {
  padding: 30px 15px;
}


.menu ul li a {
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}
.menu ul li a:active {
  color: #628155;
}

.menu a > img {
  width: 20px;
  height: 20px;
}

/* /////////////// main container with the posts /////////////// */
.main-container, .main-container-contact {
  width: 1170px;
  /*margin: 100px 0 100px 370px;*/
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
}

section {
  width: 820px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.post,
.ads,
.change-page {
  margin-bottom: 50px;
}

.caption-part {
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  padding: 35px 55px 30px;
  background-color: #fff;
}

.caption-top-info {
  text-align: center;
}

.quote-container,
.share-container {
  position: relative;
  height: 380px;
  padding: 50px 100px;
  text-align: center;
  margin-bottom: 50px;
  background-image: url("assets/waterfall.jpg");
  background-size: cover;
}

.caption-part img,
.fancy-quote img {
  width: 100px;
  height: 40px;
  margin: 15px 0;
}

blockquote {
  position: relative;
  width: 100%;
  margin: 40px 0 20px;
}

blockquote:after {
  content: '';
  display: table;
  clear: both;
}

.blockquote-symbol {
  position: absolute;
  top: 0;
  left: 0;
  padding-right: 20px;
  border-right: 1px solid #000;
}

blockquote.blockquote img {
  width: 30px;
  height: 30px;
  float: left;
}

blockquote.blockquote p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  color: #BDBDBD;
  text-align: left;
  margin-left: 80px;
  font-style: italic;
}

.quote-background {
  background-color: white;
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.fancy-quote,
.share-quote {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 140px;
  text-align: center;
  z-index: 3;
}

.share-quote {
  padding: 50px 150px;
}

article .fancy-quote h2 {
  padding: 10px 20px;
  font-family: 'Lora', serif;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
}

.box-quote {
  margin: 10px auto;
  width: 48px;
  height: 50px;
  border: 2px solid #628155;
}

.box-quote img {
  background: transparent;
  width: 20px;
  height: 18px;
}

.share-container {
  background-image: url("assets/cabin.jpg");
  margin-bottom: 0;
}

.share-background {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.share-quote > * {
  color: #fff;
  margin: 30px 10px;
  text-decoration: none;
}

.share-quote img {
  width: 30px;
  height: 30px;
  background-color: transparent;
}

.share-quote h2 {
  text-transform: uppercase;
  line-height: 30px;
  font-family: 'Droid Serif', serif;
  font-size: 24px;
  font-weight: normal;
}

article > img {
  display: block;
}

article img,
.tweet {
  height: 50%;
  width: 100%;
  background-color: #fff;
  text-align: center;
}

.tweet-container {
  position: relative;
  height: 500px;
  background: url("assets/hiking.jpg");
}

.tweet-container .tweet {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 450px;
  margin: auto;

}

.caption-part h2 {
  font-family: 'Droid Serif', serif;
  font-weight: bold;
  font-size: 22px;
}

h5 {
  padding-bottom: 20px;
  color: #628155;
  font-style: italic;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
}

span {
  display: inline-block;
  font-size: 12px;
}

.caption-part span {
  font-family: 'Droid Serif', serif;
  padding: 20px 10px 10px;
  color: #BDBDBD;
}

img.tiny-symbol {
  width: 8px;
  height: 8px;
  margin: 0;
}

.caption-part p {
  margin: 15px 0;
}

button {
  width: 26%;
  margin: 35px auto 0;
  text-transform: uppercase;
  background-color: #628155;
  color: whitesmoke;
  padding: 13px 5px;
  border: none;
  font-size: 12px;
  letter-spacing: 1px;
}

.bottom-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  color: #BDBDBD;
}

.post-stats {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.post-stats:last-child {
  margin-right: 0;
}

h6 {
  font-size: 13px;
  color: #b3b3b3;
  letter-spacing: 1px;
  font-weight: normal;
}

.post-stats img,
.latest-post-item .post-stats img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  opacity: 0.5;
}

.latest-post-item  h6 {
  font-size: 11px;
}
.comms {
  margin-left: auto;
  /*margin-right: 30px;*/
}

.related-posts {
  font-family: 'Droid Serif', serif;
  text-align: center;
  margin: 45px 0;
}

.related-posts::after {
  content: '';
  display: table;
  clear: both;
}

.related-posts a {
  width: 31%;
  float: left;
}

.related-posts a:last-child {
  float: right;
}
.related-posts img {
  margin-top: 20px;
  width: 100%;
  height: 130px;
}
/*
.related-posts img:last-child {
  margin-right: 0;
  float: right;
}
*/
.related-posts a:nth-child(odd) {
  margin: 0 28px;
}


.change-page {
  margin-right: 0;
}


.ads {
  background-image: url("assets/colorful-tree.jpg");
  position: relative;
  /*background-blend-mode: multiply;
  background-color: #424242;*/
  text-align: center;
  height: 105px;
}

.ads-overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.ads-border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.ads-border:after {
  content: "";
  display: block;
  outline: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.ads h1 {
  /*margin: 15px auto;
  text-align: center;
  border: 1px solid white;
  color: white;
  padding: 25px 0;
  width: 95%;
  height: 70%;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: inherit;
  height: 30px;
  color: #fff;
}

/* ///// SIDEBAR ///// */
aside {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.side-item {
  border: 1px solid #EEEEEE;
  margin-bottom: 50px;
  background-color: white;
  text-align: center;
  padding-bottom: 40px;
}

.side-item > * {
  padding: 10px 15px;
  text-align: center;
}

.side-item > .latest-post-item {
  padding: 0;
  margin: 20px;
}
.side-item > .latest-post-item:last-child {
  margin-bottom: 30px;
}

.sidebar-title {
  margin-top: 20px;

}

.sidebar-title h3 {
  background: url("assets/lines.png") repeat-x center;
  text-align: center;
}

.sidebar-title h3 span {
  padding: 3px 10px;
  background-color: white;
  color: black;
  font-size: 14px;
  letter-spacing: 0.8px;
}

select {
  width: 250px;
  height: 50px;
  background-color: white;
  border: 1px solid #EEEEEE;
  color: #BDBDBD;
}

.side-tags {
  display: flex;
  flex-wrap: wrap;
}

.side-tags > a {
  font-size: 10px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #9E9E9E;
  padding: 8px 10px;
  border: 1px solid #BDBDBD;
  margin: 3px;
  flex: 1;
}

ul.sidebar-about-list,
.categories-list {
  list-style-type: none;
  padding: 15px 20px 0;
}

ul.sidebar-about-list li {
  display: inline-block;
  padding: 0 5px;
}

ul.sidebar-about-list img {
  width: 30px;
  height: 30px;
}
.categories-list a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.categories-list a span,
.categories-list a p {
  padding: 5px 8px;
  font-size: 16px;
  color: #9E9E9E;
}


aside > .ads {
  position: relative;
  height: 320px;
  background-image: url("assets/party-kids.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  vertical-align: center;
}

aside .ads h1 {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 250px;
  padding: 140px 0;
}
/* ////// BOTTOM POSTS AND NEWSLETTER ////// */

.bottom-container,
.footer-info {
  width: 1170px;
  margin: 0 auto 100px;
}

.bottom-container {
  margin: 100px auto;
}
.bottom-posts {
  margin: 50px 0;
  display: flex;
  justify-content: space-between;
}

.bottom-item {
  padding: 20px 30px 50px;
  width: 370px;
  background-color: #fff;
  border: 1px solid #EEEEEE;
  box-shadow: 2px 4px 5px #EEEEEE;
  text-align: center;
}

.bottom-item .title {
  position: relative;
  margin-top: 10px;
}

.bottom-item .title h3::before {
  content: url("assets/leaf-left.png");
  position: absolute;
  left: 10px;
  top: -4px;
}

.bottom-item .title h3::after {
  content: url("assets/leaf-right.png");
  position: absolute;
  right: 8px;
  top: -5px;
}

.about-user {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 30px 0;
  text-align: left;
}

.bottom-item h2 {
  width: 100px;
  font-family: 'Droid Serif', serif;
}

.bottom-item img.circled-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
}

.bottom-item p {
  margin-bottom: 20px;
}

.clearfix {
  clear: both;
}
.bottom-item button {
  float:left;
  width: 125px;
}

.bottom-item img {
  width: 305px;
  margin-top: 40px;
}

.latest-post-item {
  height: 80px;
  margin-top: 40px;
}

.latest-post-item a {
  margin: 0;
}

.latest-post-item img {
  width: 80px;
  height: 80px;
  margin: 0;
  float: left;
}

/*.latest-post-item > * {
  display: inline-block;
}*/

.latest-post-item:after {
  content: '';
  display: table;
  clear: both;
}

.latest-post-item span {
  text-transform: uppercase;
  color: #757575;
}

.latest-post-item h4 {
  line-height: 20px;
  letter-spacing: 0.5px;
  font-family: 'Droid Serif', serif;
  font-weight: normal;
}

.latest-post-info {
  margin-left: 100px;
  padding-top: 8px;
  text-align: left;
}

.bottom-item .latest-post-item {
  display: flex;
}

.bottom-item .latest-post-info {
  margin: 0;
  padding: 0 15px;
  align-self: center;
}

.latest-post-item .post-stats {
  align-items: flex-start;
  margin-top: 10px;
}
/*
.latest-post-info ~ .post-stats {
  float: right;
  width: 35px;
  margin-top: 10px;
}*/

.latest-post-info span {
  padding: 10px 0 0 0;
}
.newsletter {
  margin: 100px 0;
}

.subscribe-info,
.subscribe-input {
  position: relative;
  display: inline-block;
  width: 50%;
}

.subscribe-input img {
  position: absolute;
  opacity: 0.2;
  top: 13px;
  left: 145px;
}

.subscribe-info p {
  margin-top: 20px;
}

.subscribe-input {
  float: right;
  margin-top: 35px;
}

input {
  width: 300px;
  padding: 13px;
  float: right;
  padding-left: 38px;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
  border-top: 1px solid #EEEEEE;
  border-right: 0;
  background-color: #fff;
}

::placeholder {
  opacity: 0.5;
  font-size: 12px;
}

.subscribe-input > button {
  float: right;
  margin: 0;
}

/*  ////////  FOOTER  ////////  */

footer {
  background-color: #101010;
  color: white;
  text-transform: uppercase;
}

ul.bottom-links {
  width: 100%;
  display: flex;
}

.bottom-links li {
  flex: 1;
  height: 100%;
}

.bottom-links li a {
  margin: 10px 0;
}
.bottom-links li:nth-child(odd) {
  background-color: #212121;
}

.bottom-links span {
  padding: 0 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
}


.footer-background {
  position: relative;
  height: 220px;
  text-align: center;
  background: url("assets/people.jpg") repeat-x;
  background-size: contain;
  z-index: 1;
}

.blurred-background {
  background-color: black;
  opacity: 0.6;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.follow {
  text-transform: none;
  width: 400px;
  height: 100px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.follow h2 {
  font-family: 'Droid Serif', serif;
}

.follow > img {
  width: 60px;
  height: 60px;
}

.footer-info {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.footer-info-item {
  flex: 1;
  text-align: center;
  padding: 20px 0;
}

.footer-info-item span {
  float: left;
  letter-spacing: 1px;
  font-weight: lighter;
}
.footer-info-item a {
  float: right;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: lighter;
  color: #fff;
  text-decoration: none;
}

.footer-info-item > img {
  height: 100px;
  width: 150px;
}


iframe {
  width: 100%;
  margin: 35px 0;
}

/* //////// POST PAGE STYLING //////// */

section.post-page {
  width: 820px;
}

.images-grid {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.images-grid img {
  width: 220px;
  height: 220px;
}

.post-page-bottom {
  background-color: #212121;
}

.post-page-bottom li:nth-child(odd) {
  background-color: #101010;
}

.post-page-footer {
  height: 75px;
}

.bottom-container h1,
.comments h1,
.your-comment h1,
.comments h1 span {
  font-family: 'Droid Serif', serif;
  font-weight: normal;
  font-size: 32px;
  color: black;
}

.post-page-logo {
  background: url("assets/trees.jpg") no-repeat;
  background-size: 100% 900px;
  background-position: 10% 100%;
  background-color: #bdbdbd;
  background-blend-mode: overlay;
  position: relative;
  height: 420px;
  text-align: center;
}

.post-page-logo a > img {
  position: absolute;
  height: 110px;
  width: 200px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

ul.post-page-menu {
  width: 1170px;
  margin: 0 auto;
  font-size: 14px;
}

ul.post-page-menu:after {
  content: '';
  display: table;
  clear: both;
}

ul.post-page-menu li {
  padding: 0;
}

ul.post-page-menu li:last-child {
  padding: 0;
  float: right;
}

ul.post-page-menu li a {
  display: block;
  padding: 35px 60px 35px 0;

}

.post-page-menu li:last-child a {
  padding-right: 0;
  float: right;
}

.post-page-menu li a {
  float: right;
}

.post-page-menu li:active {
  border-top: 3px solid #628155;
}

.about {
  background-color: white;
  border: 1px solid #EEEEEE;
  padding: 20px;
  margin: 50px 0;
}

.avatar {
  width: 155px;
  height: 155px;
  float: left;
}

.user-info {
  float: left;
  width: 620px;
  padding-left: 20px;
}

.user-top {
  padding: 10px 0 15px;
  border-bottom: 1px solid #EEEEEE;
}

.user-top h2 {
  float: left;
  text-transform: uppercase;
}

.user-top a {
  color: #000;
  text-decoration: none;
}
.reply {
  float: right;
  display: flex;
  align-items: center;
}

.reply a {
  margin: 0 3px;
}
.reply img {
  width: 17px;
  height: 17px;
  opacity: 0.4;
}

.reply img:last-child {
  margin-right: 0;
}

.reply > button.reply-button {
  border-right: 2px solid #628155;
  font-size: 14px;
  color: #628155;
  padding: 2px 15px;
  margin-right: 15px;
  font-family: 'Droid Serif', serif;
}

.user-info p {
  padding: 20px 0;
  font-size: 16px;
}

.user-top:after {
  content: '';
  display: table;
  clear: both;
}

.comments, .your-comment {
  background-color: #f8f8f8;
  margin: 5px 0 50px;
}

.comment {
  display: flex;
  padding: 40px 0;
}

.comment-container > .comment {
  border-bottom: 1px solid #EEEEEE;
}

.comment-container .comment-container {
  padding-left: 60px;
}

.comment img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

.comment .comment-text {
  padding-left: 25px;
}

.comment-text p {
  font-size: 16px;
}
.comment-top {
  padding-bottom: 40px;
}

.comment-top a {
  text-decoration: none;
  color: #000;
}
.comment-top h2 {
  float: left;
  padding-right: 20px;
  text-transform: uppercase;
}

button.reply-button {
  text-transform: none;
  padding: 5px;
  width: auto;
  margin: 0;
  cursor:pointer;
  background-color: transparent;
  border: none;
  float: right;
  color: #628155;
  letter-spacing: 0.5px;
}

.comment-top h4 {
  float: left;
  padding: 5px 20px 0;
  border-left: 2px solid #9E9E9E;
  color: #9E9E9E;
}

.comments > .comment-container:last-child .comment {
  border: none;
}

.your-comment {
  margin-bottom: 100px;
}

.your-comment input {
  margin-top: 45px;
  width: 48%;
  float: left;
  border: 1px solid #EEEEEE;
  padding-left: 20px;
}

.your-comment .input-email {
  float: right;
}

textarea {
  padding: 15px 20px;
  width: 100%;
  height: 145px;
  resize: none;
  border: 1px solid #EEEEEE;
  margin: 25px 0;
}

dl {
  margin: 25px 0;
}

dl dt {
  color: #628155;
  font-size: 16px;
  font-family: 'Droid Serif', serif;
  padding: 5px 0;
  border-bottom: 1px solid #EEEEEE;
}

dl dd {
  padding: 10px 50px 5px;
  font-size: 15px;
}

dl:after {
  content: '';
  display: table;
  clear: both;
}

.caption-part ul {
  list-style-type: none;
  margin: 20px 0;
}

.caption-part ul li {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 5px 0 5px 15px;
  border-bottom: 1px solid #EEEEEE;
}

.caption-part ul li:nth-child(even) {
  background-color: #EEEEEE;
}

.caption-part ol {
margin: 30px 20px;
border-top: 1px solid #9E9E9E;
border-bottom: 1px solid #9E9E9E;
}

.caption-part ol li {
  letter-spacing: 1px;
  font-size: 15px;
  padding: 8px 0 8px 15px;
  color: #628155;
}

.caption-part a {
   font-size: 16px;
   display: block;
   color: #628155;
}

/* ///////////// CONTACT PAGE ///////////// */
.main-container-contact {
  flex-direction: column;
}

.keep-in-touch {
  text-align: center;
  margin: 50px 0;
}

.keep-in-touch h1 {
  font-family: 'Droid Serif', serif;
  font-size: 30px;
  font-weight: 300;
}

.keep-in-touch p {
  text-align: center;
  margin: 10px 0 20px;
}

.contact-information {
  display: flex;
  justify-content: space-between;
}

form.contact-form {
  margin-right: 50px;
  flex: 2;
}

.contact-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.contact-info-item-background {
  position: relative;
  height: 100px;
  background: url("assets/colorful-tree.jpg");
  margin-bottom: 30px;
}

.contact-info-item-background:last-child {
  margin: 0;
}

.contact-info-item-color {
  position: absolute;
  background-color: #000;
  opacity: 0.9;
  width: 100%;
  height: 100%;
}

.contact-info-border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
}

.contact-info-border:after {
  content: "";
  display: block;
  outline: 1px solid #415837;
  width: 100%;
  height: 100%;
}

.contact-info-item {
  position: absolute;
  top: 20px;
}

.contact-info-item img {
  float: left;
}

.contact-info-text {
  width: 300px;
  float: right;
  padding: 5px 60px 5px 20px;
}

.contact-info-text span {
  color: #fff;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
}

.form-row {
  height: 40px;
  margin-bottom: 25px;
}

.form-row input {
  width: 48%;
  float: none;
  padding-left: 20px;
}

.contact-form input:last-child {
  float: right;
}

.contact-form button {
  margin-top: 10px;
  font-size: 14px;
  padding: 15px 5px;
  font-weight: normal;
}

.contact-form textarea {
  margin-top: 0;
}

header.contact-page-header {
  background: url('assets/contact-page-line.png') repeat-x;
  background-position: 0 55px;
  background-color: #fff;
  height: 170px;
  color: #000;
}

.top-container {
  width: 1170px;
  height: 100%;
  display: flex;
  margin: 0 auto;
}

.contact-header-left,
.contact-header-right {
  flex: 2;
}

header.contact-page-header .top-container img {
  width: 15px;
  height: 15px;
  margin: 17px 0;
}

header.contact-page-header span {
  color: #000;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.top-container a.contact-header-middle {
  display: block;
  padding: 0 100px;
  background-color: #fff;
  flex: 1;
}

.top-container a.contact-header-middle img {
  width: 180px;
  height: 100px;
  margin: 30px;
}

.top-container .topbar-logo {
  margin: 10px 0;
  float: right;
}

ul.contact-page-menu {
  float: right;
  list-style-type: none;
  margin: 35px 0;
  clear: right;
  width: 100%;
}

.contact-header-right ul.contact-page-menu {
  margin: 50px 0;
  float: none;
}
.contact-header-right ul.contact-page-menu li {
  float: left;
}

.contact-header-left ul.contact-page-menu li {
  float: right;
}

.contact-header-left ul.contact-page-menu li a {
  padding-right: 60px;
}

ul.contact-page-menu li a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.5px;
  padding-right: 45px;
}

ul.contact-page-menu li a:active {
  color: #628155;
}

.contact-header-left ul.contact-page-menu li:first-child a {
  padding-right: 0;
}

.contact-header-right ul.contact-page-menu li:last-child a {
  padding-right: 0;
}

.contact-header-left::after,
 ul.contact-page-menu::after,
 .contact-header-right::after {
  content: "";
  clear: both;
  display: table;
}

.contact-page-social {
  margin-top: 8px;
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
}

.contact-page-social span {
  color: #000;
  padding-right: 30px;
}

.contact-page-social a {
  padding-right: 15px;
}
